header {
	height: 60px;
	background-color: #55c500;
	display: flex;
	justify-content: space-between;
	color: white;
}

.headerLeft {
	padding-left: 50px;
}

h1 {
	font-size: 40px;
	line-height: 60px;
}

.headerRight {
	padding-right: 50px;
}

.headerRight>a {
	color: white;
	text-decoration: none;
	line-height: 60px;
	font-size: 20px;
	font-weight: bold;
}

.addArticle>label {
	font-size: 14px;
}

.addArticle>input {
	width: 350px;
	height: 40px;
	border-radius: 10px;
}

.acquiredArticle {
	padding-top: 10px;
}

.acquiredArticle>label {
	font-size: 14px;
}

.acquiredArticle>input {
	width: 350px;
	height: 40px;
	border-radius: 10px;
}

.addArticle__submit {
	margin-top: 10px;
	text-align: center;
}

.addArticle__submit>button {
	font-size: 25px;
	padding: 0px 20px;
	color: white;
	background-color: aqua;
	font-weight: bold;
	border-radius: 10px;
}

.card {
	width: 60%;
	margin: 20px auto;
	padding: 0 20px 20px 20px;
	border: 2px solid rgb(213, 213, 213);
	border-radius: 5px;
	font-size: 16px;
	color: #e3e3e3;
	background-color: #364549;
	letter-spacing: 1px;
}

.card_item>td {
	padding-top: 20px;
}

.card_item>td:nth-child(1) {
	padding: 0 10px;
	color: #ebd247;
}

.card_item>td:nth-child(2) {
	padding: 0 10px;
	color: #ff8095;
}

a {
	text-decoration: none;
}

footer {
	background-color: #3e3e3e;
	margin-top: 50px;
	text-align: center;
	padding: 30px 0;
	color: #fff;
	letter-spacing: 2px;
}

footer>small {
	padding-right: 5px;
	font-size: 14px;
}